In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
#Leer el archivo de datos
df0 = pd.read_csv("unison.txt", sep="\s+", skiprows=0, skipfooter=1, engine='python')

#Reemplazar los Nulos por NA
df0 = df0.replace('Nulo','NA')

In [4]:
df0.head()

        FECHA PRECIP EVAP  TMAX  TMIN
0  14/10/1981      0   NA    28    NA
1  15/10/1981      0  7.3    26    14
2  16/10/1981      0  7.6    28  12.5
3  17/10/1981      0  8.1    28    10
4  18/10/1981      0  1.2  30.5   9.5

In [5]:
df0.tail()

           FECHA PRECIP EVAP  TMAX  TMIN
5439  26/09/1998      0   NA  35.5    NA
5440  27/09/1998      0   NA  37.5  16.5
5441  28/09/1998      0   NA  38.5    20
5442  29/09/1998      0   NA  38.5    20
5443  30/09/1998      0   NA  37.5    20

In [6]:
df0.dtypes

FECHA     object
PRECIP    object
EVAP      object
TMAX      object
TMIN      object
dtype: object

In [7]:
#Convertir el tipo de variable de la Fecha
df0['FECHAN'] =  pd.to_datetime(df0['FECHA'], format='%d/%m/%Y')

#Convertir las variables
df0[['PRECIP','EVAP','TMAX','TMIN']] = df0[['PRECIP','EVAP','TMAX','TMIN']] \
.apply(pd.to_numeric, errors='coerce')

df0 = df0.drop('FECHA', 1)

In [8]:
df0.dtypes()

TypeError: 'Series' object is not callable

In [9]:
df0.dtypes('FECHA')

TypeError: 'Series' object is not callable

In [10]:
df0.describe()

            PRECIP         EVAP         TMAX         TMIN
count  5182.000000  3104.000000  4974.000000  4959.000000
mean      0.972096     6.432571    32.110032    13.363783
std       5.666403     3.219988     6.949653     7.035267
min       0.000000     0.100000     0.000000    -3.500000
25%       0.000000     3.800000    26.625000     7.500000
50%       0.000000     6.100000    33.000000    12.000000
75%       0.000000     8.800000    37.500000    19.500000
max     119.300000    16.500000    49.000000    29.000000

In [11]:
# Generar columnas de AÑO y MES 
df0['AÑO'] = df0['FECHAN'].dt.year
df0['MES'] = df0['FECHAN'].dt.month

In [12]:
df0.head()

   PRECIP  EVAP  TMAX  TMIN     FECHAN   AÑO  MES
0     0.0   NaN  28.0   NaN 1981-10-14  1981   10
1     0.0   7.3  26.0  14.0 1981-10-15  1981   10
2     0.0   7.6  28.0  12.5 1981-10-16  1981   10
3     0.0   8.1  28.0  10.0 1981-10-17  1981   10
4     0.0   1.2  30.5   9.5 1981-10-18  1981   10

In [13]:
df0.tail()

      PRECIP  EVAP  TMAX  TMIN     FECHAN   AÑO  MES
5439     0.0   NaN  35.5   NaN 1998-09-26  1998    9
5440     0.0   NaN  37.5  16.5 1998-09-27  1998    9
5441     0.0   NaN  38.5  20.0 1998-09-28  1998    9
5442     0.0   NaN  38.5  20.0 1998-09-29  1998    9
5443     0.0   NaN  37.5  20.0 1998-09-30  1998    9

In [14]:
# Número de años distintos df0['Año'].unique(),
NAÑOS = len(df0['AÑO'].unique())
print(NAÑOS, "años de datos")

18 años de datos

In [15]:
#Precipitación promedio de un mes
PrecipEne = df0[(df0['MES'] == 1)]['PRECIP'].sum()/NAÑOS
PrecipFeb = df0[(df0['MES'] == 2)]['PRECIP'].sum()/NAÑOS
PrecipMar = df0[(df0['MES'] == 3)]['PRECIP'].sum()/NAÑOS
PrecipAbr = df0[(df0['MES'] == 4)]['PRECIP'].sum()/NAÑOS
PrecipMay = df0[(df0['MES'] == 5)]['PRECIP'].sum()/NAÑOS
PrecipJun = df0[(df0['MES'] == 6)]['PRECIP'].sum()/NAÑOS
PrecipJul = df0[(df0['MES'] == 7)]['PRECIP'].sum()/NAÑOS
PrecipAgo = df0[(df0['MES'] == 8)]['PRECIP'].sum()/NAÑOS
PrecipSep = df0[(df0['MES'] == 9)]['PRECIP'].sum()/NAÑOS
PrecipOct = df0[(df0['MES'] == 10)]['PRECIP'].sum()/NAÑOS
PrecipNov = df0[(df0['MES'] == 11)]['PRECIP'].sum()/NAÑOS
PrecipDic = df0[(df0['MES'] == 12)]['PRECIP'].sum()/NAÑOS
print("Enero:",PrecipEne, "mm")
print("Febrero:",PrecipFeb, "mm")
print("Marzo:",PrecipMar, "mm")
print("Abril:",PrecipAbr, "mm")
print("Mayo:",PrecipMay, "mm")
print("Junio:",PrecipJun, "mm")
print("Julio:",PrecipJul, "mm")
print("Agosto:",PrecipAgo, "mm")
print("Septiembre:",PrecipSep, "mm")
print("Octubre:",PrecipOct, "mm")
print("Noviembre:",PrecipNov, "mm")
print("Diciembre:",PrecipDic, "mm")

Enero: 15.438888888888888 mm
Febrero: 18.522222222222222 mm
Marzo: 4.977777777777778 mm
Abril: 2.4333333333333336 mm
Mayo: 3.75 mm
Junio: 1.877777777777778 mm
Julio: 51.84444444444444 mm
Agosto: 78.31666666666666 mm
Septiembre: 42.911111111111104 mm
Octubre: 6.911111111111111 mm
Noviembre: 18.038888888888888 mm
Diciembre: 34.833333333333336 mm

In [16]:
#Precipitacion acumulada
ACUM=0.0
for i in range(12):
    PrecipMensual = df0['PRECIP'][df0['MES']==[i+1]].sum()/NAÑOS
    ACUM=ACUM+PrecipMensual
    print("Mes", i+1,":", ACUM, "mm")

Mes 1 : 15.438888888888888 mm
Mes 2 : 33.96111111111111 mm
Mes 3 : 38.93888888888888 mm
Mes 4 : 41.37222222222222 mm
Mes 5 : 45.12222222222222 mm
Mes 6 : 47.0 mm
Mes 7 : 98.84444444444443 mm
Mes 8 : 177.1611111111111 mm
Mes 9 : 220.0722222222222 mm
Mes 10 : 226.9833333333333 mm
Mes 11 : 245.02222222222218 mm
Mes 12 : 279.8555555555555 mm

In [17]:
#TMAX promedio mensual 
#Sumar las Tmax y dividir entre el número total de datos válidos para ese mes determinado (función .count())
TmaxPromEne = df0[df0['MES']==1]['TMAX'].sum()/df0[df0['MES'] ==1]['TMAX'].count()
TmaxPromFeb = df0[df0['MES']==2]['TMAX'].sum()/df0[df0['MES'] ==2]['TMAX'].count()
TmaxPromMar = df0[df0['MES']==3]['TMAX'].sum()/df0[df0['MES'] ==3]['TMAX'].count()
TmaxPromAbr = df0[df0['MES']==4]['TMAX'].sum()/df0[df0['MES'] ==4]['TMAX'].count()
TmaxPromMay = df0[df0['MES']==5]['TMAX'].sum()/df0[df0['MES'] ==5]['TMAX'].count()
TmaxPromJun = df0[df0['MES']==6]['TMAX'].sum()/df0[df0['MES'] ==6]['TMAX'].count()
TmaxPromJul = df0[df0['MES']==7]['TMAX'].sum()/df0[df0['MES'] ==7]['TMAX'].count()
TmaxPromAgo = df0[df0['MES']==8]['TMAX'].sum()/df0[df0['MES'] ==8]['TMAX'].count()
TmaxPromSep = df0[df0['MES']==9]['TMAX'].sum()/df0[df0['MES'] ==9]['TMAX'].count()
TmaxPromOct = df0[df0['MES']==10]['TMAX'].sum()/df0[df0['MES'] ==10]['TMAX'].count()
TmaxPromNov = df0[df0['MES']==11]['TMAX'].sum()/df0[df0['MES'] ==11]['TMAX'].count()
TmaxPromDic = df0[df0['MES']==12]['TMAX'].sum()/df0[df0['MES'] ==12]['TMAX'].count()
print("Tmax promedio Ene:", TmaxPromEne, "ºC")
print("Tmax promedio Feb:", TmaxPromFeb, "ºC")
print("Tmax promedio Mar:", TmaxPromMar, "ºC")
print("Tmax promedio Abr:", TmaxPromAbr, "ºC")
print("Tmax promedio May:", TmaxPromMay, "ºC")
print("Tmax promedio Jun:", TmaxPromJun, "ºC")
print("Tmax promedio Jul:", TmaxPromJul, "ºC")
print("Tmax promedio Ago:", TmaxPromAgo, "ºC")
print("Tmax promedio Sep:", TmaxPromSep, "ºC")
print("Tmax promedio Oct:", TmaxPromOct, "ºC")
print("Tmax promedio Nov:", TmaxPromNov, "ºC")
print("Tmax promedio Dic:", TmaxPromDic, "ºC")

Tmax promedio Ene: 24.18695652173913 ºC
Tmax promedio Feb: 25.756658595641646 ºC
Tmax promedio Mar: 28.590233545647557 ºC
Tmax promedio Abr: 32.62235294117647 ºC
Tmax promedio May: 35.92363184079602 ºC
Tmax promedio Jun: 39.74064837905237 ºC
Tmax promedio Jul: 38.86363636363637 ºC
Tmax promedio Ago: 38.51125 ºC
Tmax promedio Sep: 37.79302325581396 ºC
Tmax promedio Oct: 34.64415584415585 ºC
Tmax promedio Nov: 28.777915632754343 ºC
Tmax promedio Dic: 23.85022026431718 ºC

In [18]:
#TMIN promedio mensual
#Sumar las Tmax y dividir entre el número total de datos válidos para ese mes determinado (función .count())
TminPromEne = df0[df0['MES']==1]['TMIN'].sum()/df0[df0['MES'] ==1]['TMIN'].count()
TminPromFeb = df0[df0['MES']==2]['TMIN'].sum()/df0[df0['MES'] ==2]['TMIN'].count()
TminPromMar = df0[df0['MES']==3]['TMIN'].sum()/df0[df0['MES'] ==3]['TMIN'].count()
TminPromAbr = df0[df0['MES']==4]['TMIN'].sum()/df0[df0['MES'] ==4]['TMIN'].count()
TminPromMay = df0[df0['MES']==5]['TMIN'].sum()/df0[df0['MES'] ==5]['TMIN'].count()
TminPromJun = df0[df0['MES']==6]['TMIN'].sum()/df0[df0['MES'] ==6]['TMIN'].count()
TminPromJul = df0[df0['MES']==7]['TMIN'].sum()/df0[df0['MES'] ==7]['TMIN'].count()
TminPromAgo = df0[df0['MES']==8]['TMIN'].sum()/df0[df0['MES'] ==8]['TMIN'].count()
TminPromSep = df0[df0['MES']==9]['TMIN'].sum()/df0[df0['MES'] ==9]['TMIN'].count()
TminPromOct = df0[df0['MES']==10]['TMIN'].sum()/df0[df0['MES'] ==10]['TMIN'].count()
TminPromNov = df0[df0['MES']==11]['TMIN'].sum()/df0[df0['MES'] ==11]['TMIN'].count()
TminPromDic = df0[df0['MES']==12]['TMIN'].sum()/df0[df0['MES'] ==12]['TMIN'].count()
print("Tmin promedio Ene:", TmaxPromEne, "ºC")
print("Tmin promedio Feb:", TmaxPromFeb, "ºC")
print("Tmin promedio Mar:", TmaxPromMar, "ºC")
print("Tmin promedio Abr:", TmaxPromAbr, "ºC")
print("Tmin promedio May:", TmaxPromMay, "ºC")
print("Tmin promedio Jun:", TmaxPromJun, "ºC")
print("Tmin promedio Jul:", TmaxPromJul, "ºC")
print("Tmin promedio Ago:", TmaxPromAgo, "ºC")
print("Tmin promedio Sep:", TmaxPromSep, "ºC")
print("Tmin promedio Oct:", TmaxPromOct, "ºC")
print("Tmin promedio Nov:", TmaxPromNov, "ºC")
print("Tmin promedio Dic:", TmaxPromDic, "ºC")

Tmin promedio Ene: 24.18695652173913 ºC
Tmin promedio Feb: 25.756658595641646 ºC
Tmin promedio Mar: 28.590233545647557 ºC
Tmin promedio Abr: 32.62235294117647 ºC
Tmin promedio May: 35.92363184079602 ºC
Tmin promedio Jun: 39.74064837905237 ºC
Tmin promedio Jul: 38.86363636363637 ºC
Tmin promedio Ago: 38.51125 ºC
Tmin promedio Sep: 37.79302325581396 ºC
Tmin promedio Oct: 34.64415584415585 ºC
Tmin promedio Nov: 28.777915632754343 ºC
Tmin promedio Dic: 23.85022026431718 ºC